@keyframes blink-red-strong {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
  }
  50% {
    box-shadow: 0 0 11px 6px rgba(255, 0, 0, 0.911);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
  }
}